.castContainer {
  max-width: inherit;
}

.castListContainer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  border-top: 1px solid black;
}
.castList {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.castItem {
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 5px 5.26027px 19.726px #363450;
  min-width: 200px;
}

.castTitle {
  text-align: center;
}

.castCharacter {
  text-align: center;
}

.castDetailsContainer {
  padding: 10px 5px;
  max-width: 200px;
}

.castCharacter {
  font-size: 14px;
}

.castImg {
  margin-left: auto;
  margin-right: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 300px;
}
